<!-- $Id: exclusion_table.tt2 5204 2008-11-07 13:35:51Z david.verdin $ -->
<form class="noborder" action="[% path_cgi %]" method="post" name="show_exclude">
<fieldset>
  <input type="hidden" name="previous_list" value="[% list %]" />
  <input type="hidden" name="list" value="[% list %]" />
<table summary="[%|loc%]List of exclude[%END%]" class="listOfItems">
      <tr>
	[% IF is_listmaster || is_owner  || may_add %]
	   <th><a href="#" onclick="toggle_selection(document.show_exclude.email);return false;" title="[%|loc%]Toggle Selection[%END%]">&laquo;&raquo;</a></th>
	[% END %]
	<th>[%|loc%]Email[%END%]</th>
        <th>[%|loc%]Since[%END%]</th>
      </tr>

      [% IF user.email %]
        [% IF exclude_users %]
          [% FOREACH exc = exclude_users %] 
            <tr class="color0">
	    [% IF is_listmaster || is_owner || may_add %]
	    <td>
	        <input type="checkbox" name="email" value="[% exc.email %]" />
	    </td>
	    [% END %]
              <td>&nbsp;[% exc.email %]&nbsp;</td>
	      <td>&nbsp;[% exc.since %]&nbsp;</td>
            </tr>
	  [% END %]
	[% ELSE %]
          <p>[%|loc%]No user excluded.[% END %]</p>
        [% END %]
      [% END %]
    </table>
     [% IF may_add %]
        <input class="MainMenuLinks" type="button" value="[%|loc%]Toggle Selection[%END%]" onclick="toggle_selection(document.show_exclude.email)" /><br />
	<input class="MainMenuLinks" type="submit" name="action_add" value="[%|loc%]Restore selected email addresses[%END%]"  onclick="return request_confirm('[%|loc%]Do you really want to restore subscription for ALL selected addresses?[%END%]')" />
        <input id="quiet_exclusion" type="checkbox" name="quiet"/> <label for="quiet_exclusion">[%|loc%]quiet[%END%] </label>
      [% END %]

   </fieldset>
 </form>

</div>
<!-- end exclusion_table.tt2 -->
