<!-- ============================================================== -->
<!--    Variable definitions                                        -->
<!-- ============================================================== -->

<!--
User defined variables are defined by the DEFINEVAR element. The first
line is the name of the variable and subsequent lines to the close tag
are the value of the variable.

User defined variables are extremely useful when the same layout
information occurs in multiple places. It also help centralize
information that maybe likely to change. User defined variables can
reference other variables.
-->

<DefineVar>
CALENDAR
<div id="ArcCalendar">
    ($tag$% FOREACH year = calendar %$tag$)
        <div>
        <ul class="calendar">
        <li class="calendarYear">($tag$% year.key %$tag$)</li>
   	($tag$% FOREACH month = ['01' '02' '03' '04' '05' '06' '07' '08' '09' '10' '11' '12'] %$tag$)
          ($tag$% IF year.value.item(month) %$tag$)
                 ($tag$% IF  year.key == '$yyyy$' && month == '$mois$'%$tag$) <li class="calendarLinksCurrentPage"><a href="($tag$% path_cgi %$tag$)/arc/($tag$% list %$tag$)/($tag$% year.key %$tag$)-($tag$% month %$tag$)/" title="($tag$%|loc(year.value.item(month))%$tag$)%1 message(s)($tag$%END%$tag$)">($tag$% month %$tag$)</a></li>
                 ($tag$% ELSE %$tag$)<li class="calendarLinks"><a href="($tag$% path_cgi %$tag$)/arc/($tag$% list %$tag$)/($tag$% year.key %$tag$)-($tag$% month %$tag$)/" title="($tag$%|loc(year.value.item(month))%$tag$)%1 message(s)($tag$%END%$tag$)">($tag$% month %$tag$)</a></li>
		 ($tag$% END %$tag$)
          ($tag$% ELSE %$tag$)<li class="calendarLinksInactive">($tag$% month %$tag$)</li>
          ($tag$% END %$tag$)
        ($tag$% END %$tag$)
        </ul>
        </div>
    ($tag$% END %$tag$)
</div>
</DefineVar>

<DefineVar>
SEARCH_FORM
     <div class="search_form">
	<form method="post" action="($tag$% path_cgi %$tag$)">
	<input name="list" type="hidden" value="($tag$% list %$tag$)" />
	<input name="archive_name" type="hidden" value="($tag$% archive_name %$tag$)" />
	<input name="how"   type="hidden" value="phrase" />
	<input name="age"   type="hidden" value="new" />
	<input name="case"  type="hidden" value="off" /> 
	<input name="match" type="hidden" value="partial" />
	<input name="limit" type="hidden" value="10" /> 
	<input name="body"  type="hidden" value="true" />
	<input name="subj"  type="hidden" value="true" />
	<input id="key_word" name="key_word" type="text" size="12" />
	<input name="action"  type="hidden" value="arcsearch" />
	<input type="submit" class="MainMenuLinks" name="action_arcsearch" value="($tag$%|loc%$tag$)Search($tag$%END%$tag$)" onClick="return isNotEmpty('key_word')" />
	<input type="submit" class="MainMenuLinks" name="action_arcsearch_form" value="($tag$%|loc%$tag$)Advanced search($tag$%END%$tag$)" />
	</form>
    </div>
</DefineVar>

<DefineVar>
TOP_PANEL
<div id="ActionHeader">
   $SEARCH_FORM$
   $CALENDAR$
   <div class="text_center"><strong>$PRINTABLE_MONTH$&nbsp;&nbsp;&nbsp;$NUMOFMSG$ ($tag$%|loc%$tag$)mails($tag$%END%$tag$)</strong></div><br />
<!--   ($tag$%|loc%$tag$)Pages navigation: ($tag$%END%$tag$)<br /> -->
</div>
</DefineVar>

<DefineVar>
PRINTABLE_MONTH
($tag$%|locdt("$yyyy$/$mois$")%$tag$)%Y/%m($tag$%END%$tag$)
</DefineVar>

<DefineVar>
SELECTED_MONTH
<P><font color="($tag$% dark_color %$tag$)" size="+1"><strong>
$PRINTABLE_MONTH$
</strong></FONT><br />
<HR width="30%">
</P>
</DefineVar>

<DefineVar>
POWERED_BY
<hr size="1" noshade>
<p><font size="-1">
($tag$%|loc%$tag$)Archive powered by($tag$%END%$tag$) <a href="$DOCURL$">MHonArc $VERSION$</a>.
</font></p>
</DefineVar>

<!-- ============================================================== -->
<!--    MIME Resources                                              -->
<!-- ============================================================== -->

<DECODEHEADS>

<MIMEARGS>
text/plain; asis=us-ascii:iso-8859-1:iso-8859-2 nonfixed quote htmlcheck maxwidth=78
text/html; asis=us-ascii:iso-8859-1:iso-8859-2 allownoncidurls
m2h_external::filter; subdir usename
</MIMEARGS>

<CHARSETALIASES>
big5; big5
big5; big5-eten
</CHARSETALIASES>

<CharsetConverters override>
plain;    mhonarc::htmlize
default; -decode-
</CharsetConverters>


<-- Need to also register UTF-8-aware text clipping function -->
<TextClipFunc>
MHonArc::UTF8::clip; MHonArc/UTF8.pm
</TextClipFunc>
<TextEncode>
utf-8; MHonArc::UTF8::to_utf8; MHonArc/UTF8.pm
</TextEncode>

<!-- ============================================================== -->
<!--    Options                                                     -->
<!-- ============================================================== -->

<!--
It is good to be explicit when possible since a default resource file,
and/or environment variables, may be in affect.
-->

<NOMAILTO>
<MULTIPG>
<NODOC>
<SORT>
<NOFOLREFS>

<IDXSIZE>
30
</IDXSIZE>

<!-- should not be changed -->
<IDXFNAME>
mail1.html
</IDXFNAME>

<!-- should not be changed -->
<TIDXFNAME>
thrd1.html
</TIDXFNAME>

<!-- ============================================================== -->
<!--    Main index resources                                        -->
<!-- ============================================================== -->

<!--
IDXPGSSMARKUP
IDXPGBEGIN
    LISTBEGIN
        (AUTHORBEGIN |
         DAYBEGIN |
         SUBJECTBEGIN)?
        LITEMPLATE+
        (AUTHOREND |
         DAYEND |
         SUBJECTEND)?
     LISTEND
    DOC?
IDXPGEND
-->

<!--  mail1.html -->
<IDXPGBEGIN>
[%TAGS ($tag$% %$tag$) %]

<!-- begin header -->
<div id="ActionHeader">
   $SEARCH_FORM$
   $CALENDAR$
   <div class="text_center"><strong>$PRINTABLE_MONTH$&nbsp;&nbsp;&nbsp;$NUMOFMSG$ ($tag$%|loc%$tag$)mails($tag$%END%$tag$)</strong></div><br />
<!--   ($tag$%|loc%$tag$)Pages navigation: ($tag$%END%$tag$)<br /> -->

  <span class="search_form">
    <a class="ArcMenuLinksSortActive" href="mail$PAGENUM$.html">($tag$%|loc%$tag$)Chronological($tag$%END%$tag$)</a>
    <a class="ArcMenuLinksSortInactive" href="thrd$PAGENUM$.html">($tag$%|loc%$tag$)Thread($tag$%END%$tag$)</a>
  </span>  
  $PREVPGLINK$ ($tag$%|loc($PAGENUM$,$NUMOFPAGES$)%$tag$)page # %1/%2($tag$%END%$tag$) $NEXTPGLINK$   
</div>
<!-- end header -->
</IDXPGBEGIN>

<!-- top of message list -->
<LISTBEGIN>
<br />
($tag$% IF is_owner %$tag$)<form id="msglist" action="($tag$% path_cgi %$tag$)" method="post">($tag$%END%$tag$)
<ul>
</LISTBEGIN>

<!-- item of maillist.html -->
<LITEMPLATE>
<li>($tag$% IF is_owner %$tag$)<input type="checkbox" name="msgid" value="$MSGID$" />($tag$%END%$tag$)

<b>$SUBJECT$</b>, <em>$FROMNAME$</em></li>
</LITEMPLATE> 

<!-- bottom of message list -->
<LISTEND>
</ul><br />
($tag$% IF is_owner %$tag$)
<input type="hidden" name="yyyy" value="$yyyy$" />
<input type="hidden" name="month" value="$mois$" />
<input type="hidden" name="action" value="remove_arc" />
<input type="hidden" name="list" value ="($tag$% list %$tag$)" />  
<input class="MainMenuLinks" type="button" value="($tag$%|loc%$tag$)Toggle Selection($tag$%END%$tag$)" onclick="toggle_selection(document.forms['msglist'].msgid)" />
<input type="submit" class="MainMenuLinks" name="action_remove_arc" value="($tag$%|loc%$tag$)Tag messages for deletion($tag$%END%$tag$)" onClick="return request_confirm('($tag$%|loc%$tag$)Do you really want to delete these messages ?($tag$%END%$tag$)')"/><br />
<br />

</form>
($tag$%END%$tag$)
</LISTEND>  

<!--  maillist.html bottom -->
<IDXPGEND>
$POWERED_BY$
($tag$%TAGS [% %]%$tag$)
</IDXPGEND>

<!-- links definition -->
<PrevPgLink chop>
<a class="ArcMenuLinks" href="$FIRSTPG$">&lt;&lt;</a>
<a class="ArcMenuLinks" href="$PREVPG$">&lt;</a>
</PrevPgLink>

<PrevPgLinkIA chop>
<a class="ArcMenuLinksInactive">&lt;&lt;</a>
<a class="ArcMenuLinksInactive">&lt;</a>
</PrevPgLinkIA>

<NextPgLink chop>
<a class="ArcMenuLinks" href="$NEXTPG$">&gt;</a>
<a class="ArcMenuLinks" href="$LASTPG$">&gt;&gt;</a>
</NextPgLink>

<NextPgLinkIA chop>
<a class="ArcMenuLinksInactive">&gt;</a>
<a class="ArcMenuLinksInactive">&gt;&gt;</a>
</NextPgLinkIA>

<!-- ============================================================== -->
<!--    Thread index resources                                      -->
<!-- ============================================================== -->

<!--
TIDXPGSSMARKUP
TIDXPGBEGIN
    THEAD
        ((TTOPBEGIN
            TSUBLISTBEG
                ((TLITXT
                    [possible subthread listing]
                  TLIEND)|
                (TLINONE
                    [possible subthread listing]
                 TLINONEEND))+
            (TSUBJECTBEG
                ((TLITXT
                    [possible subthread listing]
                  TLIEND)|
                (TLINONE
                    [possible subthread listing]
                 TLINONEEND))+
             TSUBJECTEND)?
            TSUBLISTEND
          TTOPEND)
         |
         TSINGLETXT)* [message w/o references or follow-ups]
    TFOOT
    DOC?
TIDXPGEND
-->

<!-- top of thread index -->
<TIDXPGBEGIN>
[%TAGS ($tag$% %$tag$) %]
</TIDXPGBEGIN>

<THEAD>
<!-- begin header -->
<div id="ActionHeader">
   $SEARCH_FORM$
   $CALENDAR$
   <div class="text_center"><strong>$PRINTABLE_MONTH$&nbsp;&nbsp;&nbsp;$NUMOFMSG$ ($tag$%|loc%$tag$)mails($tag$%END%$tag$)</strong></div><br />
 <!--  ($tag$%|loc%$tag$)Pages navigation: ($tag$%END%$tag$)<br /> -->

   <span class="search_form">
     <a class="ArcMenuLinksSortInactive" href="mail$PAGENUM$.html">($tag$%|loc%$tag$)Chronological($tag$%END%$tag$)</a>
     <a class="ArcMenuLinksSortActive" href="thrd$PAGENUM$.html">($tag$%|loc%$tag$)Thread($tag$%END%$tag$)</a>
   </span>  
   $TPREVPGLINK$ ($tag$%|loc($PAGENUM$,$NUMOFPAGES$)%$tag$)page # %1/%2($tag$%END%$tag$) $TNEXTPGLINK$ 
</div>
<!-- end header -->

($tag$% IF is_owner %$tag$)<form id="msglist" action="($tag$% path_cgi %$tag$)" method="post">($tag$%END%$tag$)
<ul>
</THEAD>

<TSINGLETXT>
<li>($tag$% IF is_owner %$tag$)<input type="checkbox" name="msgid" value="$MSGID$" />($tag$%END%$tag$)<b>$SUBJECT$</b>, <em>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</em>
</TSINGLETXT>

<TTOPBEGIN>
<li>($tag$% IF is_owner %$tag$)<input type="checkbox" name="msgid" value="$MSGID$" />($tag$%END%$tag$)<b>$SUBJECT$</b>, <em>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</em>
</TTOPBEGIN>

<TLITXT>
<li>($tag$% IF is_owner %$tag$)<input type="checkbox" name="msgid" value="$MSGID$" />($tag$%END%$tag$)<b>$SUBJECT$</b>, <em>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</em>
</TLITXT>

<TTOPEND>
</li>
</TTOPEND>

<TFOOT>
</ul>
($tag$% IF is_owner %$tag$)
<input type="hidden" name="yyyy" value="$yyyy$" />
<input type="hidden" name="month" value="$mois$" />
<input type="hidden" name="action" value="remove_arc" />
<input type="hidden" name="list" value ="($tag$% list %$tag$)" />  
<input class="MainMenuLinks" type="button" value="($tag$%|loc%$tag$)Toggle Selection($tag$%END%$tag$)" onclick="toggle_selection(document.forms['msglist'].msgid)" />
<input type="submit" class="MainMenuLinks" name="action_remove_arc" value="($tag$%|loc%$tag$)Tag messages for deletion($tag$%END%$tag$)" onClick="return request_confirm('($tag$%|loc%$tag$)Do you really want to delete these messages ?($tag$%END%$tag$)')"/><br />
<br />
</form>
($tag$%END%$tag$)<br />
</TFOOT>

<TIDXPGEND>
$POWERED_BY$
($tag$%TAGS [% %]%$tag$)
</TIDXPGEND>

<TCONTBEGIN>
<li><strong>$SUBJECTNA$</strong>($tag$%|loc%$tag$), <em>(continued)</em>($tag$%END%$tag$)
</TCONTBEGIN>

<TSUBJECTBEG>
<li>($tag$%|loc%$tag$)&lt;Possible follow-up(s)&gt;($tag$%END%$tag$)</li>
</TSUBJECTBEG>

<TLINONE>
<li>($tag$%|loc%$tag$)<em>Message not available</em>($tag$%END%$tag$)
</TLINONE>

<!-- links definition -->
<TPrevPgLink chop>
<a class="ArcMenuLinks" href="$TFIRSTPG$">&lt;&lt;</a>
<a class="ArcMenuLinks" href="$TPREVPG$">&lt;</a>
</TPrevPgLink>

<TPrevPgLinkIA chop>
<a class="ArcMenuLinksInactive">&lt;&lt;</a>
<a class="ArcMenuLinksInactive">&lt;</a>
</TPrevPgLinkIA>

<TNextPgLink chop>
<a class="ArcMenuLinks" href="$TNEXTPG$">&gt;</a>
<a class="ArcMenuLinks"  href="$TLASTPG$">&gt;&gt;</a>
</TNextPgLink>

<TNextPgLinkIA chop>
<a class="ArcMenuLinksInactive">&gt;</a>
<a class="ArcMenuLinksInactive">&gt;&gt;</a>
</TNextPgLinkIA>

<!-- ================================================================== -->
<!--    Message Page Resources                                          -->
<!-- ================================================================== -->

<!--
MSGPGSSMARKUP
MSGPGBEGIN
    MSGHEAD
    TOPLINKS
    SUBJECTHEADER
    Converted message header
    HEADBODYSEP
    Converted message body
    MSGBODYEND
    (FOLUPBEGIN
        FOLUPLITXT+
     FOLUPEND)?
    (REFSBEGIN
        REFSLITXT+
     REFSEND)?
    BOTLINKS
    MSGFOOT
MSGPGEND
-->

<MSGPGBEGIN>
[%TAGS ($tag$% %$tag$) %]
</MSGPGBEGIN>

<TOPLINKS>

<div id="ActionHeader">
   <div class="text_center"><h2>($tag$% subtitle %$tag$)</h2></div><br />
   <span class="search_form">
     <a class="ArcMenuLinksSortInactive" href="$IDXFNAME$#$MSGNUM$">($tag$%|loc%$tag$)Chronological($tag$% END %$tag$)</a>
     <a class="ArcMenuLinksSortInactive" href="$TIDXFNAME$#$MSGNUM$">($tag$%|loc%$tag$)Thread($tag$% END %$tag$)</a>&nbsp;
   </span>
   <ul id="MainMenuLinks">
     $PREVBUTTON$ ($tag$%|loc%$tag$)Chronological($tag$%END%$tag$) $NEXTBUTTON$&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$TPREVBUTTON$  ($tag$%|loc%$tag$)Thread($tag$%END%$tag$) $TNEXTBUTTON$
   </ul>
</div>
<div>

<!-- end header -->

</TOPLINKS>

<HEADBODYSEP>
</div>
<hr size="1" noshade>
</HEADBODYSEP>

<MSGBODYEND>
<br clear="all" />
<hr size="1" noshade>
$TSLICE(10;10;1)$
</MSGBODYEND>

<BOTLINKS>

</BOTLINKS>

<MSGPGEND>
$POWERED_BY$
($tag$%TAGS [% %]%$tag$)
</MSGPGEND>

<MSGPGSSMARKUP>
</MSGPGSSMARKUP>

<SUBJECTHEADER>
($tag$% IF user.email && include_picture %$tag$)
<div id="pictures_block" style="float: left; padding: 0em; margin: 0em;">
<div id="large">
<img src="($tag$% include_picture %$tag$)" alt="($tag$%|loc%$tag$)picture($tag$%END%$tag$)" />
</div>
</div>
($tag$% END %$tag$)
($tag$% IF user.email && action == 'arc' %$tag$)
<span class="search_form">
<form action="($tag$% path_cgi %$tag$)" method="post">
  <input type="hidden" name="in_reply_to" value="$MSGID$" />
  <input type="hidden" name="subject" value="Re: $SUBJECTNA$" />
  <input type="hidden" name="list" value="($tag$% list %$tag$)" />
  ($tag$% IF list_conf.reply_to_header.apply == 'forced' %$tag$)
      ($tag$% IF list_conf.reply_to_header.value == 'all' %$tag$)
          <input type="hidden" name="to" value="$FROMADDRNAME:J$ $FROMADDRDOMAIN$,($tag$% list %$tag$) ($tag$% list_conf.host %$tag$)" />
      ($tag$% ELSIF list_conf.reply_to_header.value == 'other_email' %$tag$)
	  ($tag$% SET oemail = list_conf.reply_to_header.other_email %$tag$)
          <input type="hidden" name="to" value="($tag$% oemail.replace('@',' ') %$tag$)" />
      ($tag$% ELSIF list_conf.reply_to_header.value == 'list' %$tag$)
          <input type="hidden" name="to" value="($tag$% list %$tag$) ($tag$% list_conf.host %$tag$)" />
      ($tag$% ELSIF list_conf.reply_to_header.value == 'sender' %$tag$)
          <input type="hidden" name="to" value="$FROMADDRNAME:J$ $FROMADDRDOMAIN$" />
      ($tag$% END %$tag$)
  ($tag$% ELSE %$tag$)
      ($tag$%|loc%$tag$)Reply to($tag$%END%$tag$)
      <input id="to_sender" type="radio" name="to"
       value="$FROMADDRNAME:J$ $FROMADDRDOMAIN$"
       ($tag$% IF list_conf.reply_to_header.value == 'sender' %$tag$)
	checked
	($tag$%END%$tag$) />
      <label for="to_sender">($tag$%|loc%$tag$)sender($tag$%END%$tag$)</label>
      <input id="to_list" type="radio" name="to"
       value="($tag$% list %$tag$) ($tag$% list_conf.host %$tag$)"
       ($tag$% IF list_conf.reply_to_header.value == 'list' %$tag$)
	checked
	($tag$%END%$tag$) />
      <label for="to_list">($tag$%|loc%$tag$)list($tag$%END%$tag$)</label>
      <input id="to_both" type="radio" name="to"
       value="$FROMADDRNAME:J$ $FROMADDRDOMAIN$,($tag$% list %$tag$) ($tag$% list_conf.host %$tag$)"
       ($tag$% IF list_conf.reply_to_header.value == 'all' %$tag$)
	checked
	($tag$%END%$tag$) />
      <label for="to_both">($tag$%|loc%$tag$)both($tag$%END%$tag$)</label>
  ($tag$% END %$tag$)
  <input class="MainMenuLinks" type="submit" name="action_compose_mail" value="($tag$%|loc%$tag$)Reply($tag$%END%$tag$)" /><br />
  <input class="MainMenuLinks" type="submit" name="action_send_me" value="($tag$%|loc(user.email)%$tag$)send it back to %1($tag$%END%$tag$)" /><br />
    <input type="hidden" name="yyyy" value="$yyyy$" />
    <input type="hidden" name="month" value="$mois$" />
    <input type="hidden" name="msgid" value="$MSGID$" />
    <input type="hidden" name="action" value="" />
   ($tag$% IF user.email == '$FROMADDRNAME:J$@$FROMADDRDOMAIN$'  || is_owner %$tag$)
    <input class="MainMenuLinks" type="submit" name="action_remove_arc" value="($tag$%|loc%$tag$)tag this mail for deletion($tag$%END%$tag$)" onClick="return request_confirm('($tag$%|loc%$tag$)Do you really want to delete this message ?($tag$%END%$tag$)')" />
    ($tag$% END %$tag$)
    ($tag$% IF is_owner %$tag$)
    <br /><input class="MainMenuLinks" type="submit" name="action_view_source" value="($tag$%|loc%$tag$)view source($tag$%END%$tag$)" />
    ($tag$% END %$tag$)
</form>
</span>

($tag$% END %$tag$)

<div class="block">


</SUBJECTHEADER>

<!-- Message itself -->
<!-- Do not display the following header -->
<EXCS Override>
content-
errors-to
forward
lines
mime-
message-id
nntp-
originator
path
precedence
received
replied
return-path
status
via
x-
sender
list-help
list-owner
list-post
list-subscribe
list-unsubscribe
in-reply-to
delivered-to
references
reply-to
thread-
User-agent
Mail-followup-to
Dkim-signature
</EXCS>

<!-- Field order in message header -->
<FIELDORDER>
from
to
cc
subject
date
-extra-
</FIELDORDER>

<LABELSTYLES>
From:strong
To:strong
Subject:strong
-default-:strong
</LABELSTYLES>

<TSLICELEVELS>
7
</TSLICELEVELS>

<TSLICE>
10:10
</TSLICE>

<TSLICEBEG>
<UL>
</TSLICEBEG>

<TSLICETOPBEGINCUR>
<LI><STRONG>$SUBJECTNA$</STRONG>, <EM>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</EM>
</TSLICETOPBEGINCUR>

<TSLICELITXTCUR>
<LI><STRONG>$SUBJECTNA$</STRONG>, <EM>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</EM>
</TSLICELITXTCUR>

<TSLICESINGLETXTCUR>
<LI><STRONG>$SUBJECTNA$</STRONG>, <EM>$FROMNAME$, ($tag$%|locdt("$YYYYMMDD$")%$tag$)%m/%d/%Y($tag$%END%$tag$)</EM>
</TSLICESINGLETXTCUR>

<TSLICEEND>
</UL>
</TSLICEEND>

<!-- Buttons definition -->
<PREVBUTTON>
<a class="ArcMenuLinks" href="$PREVMSG$">&lt;</a>
</PREVBUTTON>

<PREVBUTTONIA>
<a class="ArcMenuLinksInactive">&lt;</a>
</PREVBUTTONIA>

<NEXTBUTTON>
<a class="ArcMenuLinks" href="$NEXTMSG$">&gt;</a>
</NEXTBUTTON>

<NEXTBUTTONIA>
<a class="ArcMenuLinksInactive">&gt;</a>
</NEXTBUTTONIA>

<TPREVBUTTON>
<a class="ArcMenuLinks" href="$TPREVMSG$">&lt;</a>
</TPREVBUTTON>

<TPREVBUTTONIA>
<a class="ArcMenuLinksInactive">&lt;</a>
</TPREVBUTTONIA>

<TNEXTBUTTON>
<a class="ArcMenuLinks" href="$TNEXTMSG$">&gt;</a>
</TNEXTBUTTON>

<TNEXTBUTTONIA>
<a class="ArcMenuLinksInactive">&gt;</a>
</TNEXTBUTTONIA>

<!-- ============================================================== -->
<!--    Other Resources                                             -->
<!-- ============================================================== -->

<DAYBEGIN>
<LI><STRONG>($tag$%|locdt("$YYYYMMDD$")%$tag$)%y/%m/%d($tag$%END%$tag$)</STRONG>
<UL>
</DAYBEGIN>

<DAYEND>
</UL>
</LI>
</DAYEND>

<WEEKDAYS>
($tag$%|loc%$tag$)Sunday:Monday:Tuesday:Wednesday:Thursday:Friday:Saturday($tag$%END%$tag$)
</WEEKDAYS>

($tag$% IF lang == 'cs' %$tag$)
<WEEKDAYSABR>
Ne:Po:Út:St:Čt:Pá:So
</WEEKDAYSABR>
($tag$% ELSIF lang == 'hu' %$tag$)
<WEEKDAYSABR>
V:H:K:Sz:Cs:P:Szo
</WEEKDAYSABR>
($tag$% ELSIF lang == 'et' %$tag$)
<WEEKDAYSABR>
P:M:T:K:N:R:L
</WEEKDAYSABR>
($tag$% ELSE %$tag$)
<WEEKDAYSABR>
($tag$%|loc%$tag$)Sun:Mon:Tue:Wed:Thu:Fri:Sat($tag$%END%$tag$)
</WEEKDAYSABR>
($tag$% END %$tag$)

<MONTHS>
($tag$%|loc%$tag$)January:February:March:April:May:June:July:August:September:October:November:December($tag$%END%$tag$)
</MONTHS>

($tag$% IF lang == 'cs' %$tag$)
<MONTHSABR>
Led:Úno:Bře:Dub:Kvě:Čern:Červ:Srp:Zář:Říj:List:Pro
</MONTHSABR>
($tag$% ELSIF lang == 'hu' %$tag$)
<MONTHSABR>
Jan:Feb:Már:Ápr:Máj:Jún:Júl:Aug:Szep:Okt:Nov:Dec
</MONTHSABR>
($tag$% ELSIF lang == 'et' %$tag$)
<MONTHSABR>
Jan:Veeb:Mär:Apr:Mai:Juun:Juul:Aug:Sep:Okt:Nov:Dets
</MONTHSABR>
($tag$% ELSE %$tag$)
<MONTHSABR>
($tag$%|loc%$tag$)Jan:Feb:Mar:Apr:May:Jun:Jul:Aug:Sep:Oct:Nov:Dec($tag$%END%$tag$)
</MONTHSABR>
($tag$% END %$tag$)

($tag$% IF lang == 'cs' %$tag$)
<UseLocalTime>

<MSGLOCALDATEFMT>
%d. %B. %Y %H:%M
</MSGLOCALDATEFMT>

<LOCALDATEFMT>
%d. %B. %Y %H:%M
</LOCALDATEFMT>

($tag$% ELSIF lang == 'hu' %$tag$)
<UseLocalTime>
 
<MSGLOCALDATEFMT>
%Y. %B %d., %A %H:%M
</MSGLOCALDATEFMT>

<LOCALDATEFMT>
%Y. %B %d., %A %H:%M
</LOCALDATEFMT>

($tag$% ELSIF lang == 'et' %$tag$)
<UseLocalTime>

<MSGLOCALDATEFMT>
%Y. %B %d., %A %H:%M
</MSGLOCALDATEFMT>

<LOCALDATEFMT>
%Y. %B %d., %A %H:%M
</LOCALDATEFMT>
 
($tag$% ELSE %$tag$)
<MsgLocalDateFmt>
%A %d %B %Y
</MsgLocalDateFmt>

($tag$% END %$tag$)
